<phpunit bootstrap="../unittestautoload.php"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.3/phpunit.xsd"
         backupGlobals="false"
         backupStaticAttributes="false"
         cacheTokens="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         forceCoversAnnotation="false"
         mapTestClassNameToCoveredClassName="false"
         printerClass="\PHPUnit\TextUI\ResultPrinter"
         processIsolation="true"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         stopOnRisky="false"
         timeoutForSmallTests="1"
         timeoutForMediumTests="10"
         timeoutForLargeTests="60"
         verbose="false">
  <php>
    <ini name="error_reporting" value="E_ALL &amp; ~E_DEPRECATED"/>
    <ini name="display_errors" value="On"/>
    <ini name="log_errors" value="On"/>
    <ini name="html_errors" value="Off"/>
  </php>
  <testsuites>
    <testsuite name="testsU">
      <directory suffix="Test.php">.</directory>
    </testsuite>
  </testsuites>
</phpunit>
